<div class = "col s4">
	<div class = "card hoverable white">
		<div class = "card-content blue-grey-text text-darken-4">
			<span class="card-title blue-grey-text text-darken-4">Filter Smarties</span>
		</div>
		<div class="card-action">

		</div>
	</div>
</div>