
<footer>

	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;

	<br /><br />
	
	<div id="copy">
		Webmaster: <%= mail_to("dhirata@andrew.cmu.edu", "Derek Hirata", encode: "javascript") %> 
		&nbsp;&nbsp;&copy 2015
	</div>

</footer>