<nav class = "blue darken-1">
	<div class = "nav-wrapper">
		<div class = "container">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><%= link_to "Home", home_path %></li>
				<li><%= link_to "Companies", companies_path %></li>
				<li><%= link_to "Your account", customers_path %></li>
			</ul>
		</div>
</div>
</nav>
