<div class = "col s4">
	<div class = "card white">
		<div class = "card-content blue-grey-text text-darken-4">
			<span class="card-title blue-grey-text text-darken-4"> <i class = "material-icons medium left">perm_identity</i><%= @smarties.first.customer.proper_name %></span>
		</div>
	</div>
</div>