<h1>Listing financial_data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_data.each do |financial_datum| %>
      <tr>
        <td><%= link_to 'Show', financial_datum %></td>
        <td><%= link_to 'Edit', edit_financial_datum_path(financial_datum) %></td>
        <td><%= link_to 'Destroy', financial_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial datum', new_financial_datum_path %>
